.contact {
    padding: 4rem 2rem;
    background-color: #000000;
    /* text-align: center; */
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    /* border: 1px solid #ebfb05; */
    border-radius: 18px;
    /* background-color: #f9f9f9; */
    box-shadow: 0 2px 14px rgba(236, 244, 4, 0.1)
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(169, 156, 140);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(68, 82, 54);

}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 0.5 solid #ece59f;
    background-color: #000000;
    border-radius: 4px;
    font-size: 16px;
    color: #ece59f;
}

.form-group textarea {
    resize: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #cccccc;
}

button:hover {
    background-color: #0056b3;
}

.response-message {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: green;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
}